@model List<HalloDoc.Entity.Models.AdminDashboardList>
<h1>

</h1>

@foreach (var item in Model)
{
    <div class="accordion-item">
        <div class="accordion-header">
            <div class="container-fluid accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#@item.RequestId" aria-expanded="true" aria-controls="collapse_@item.RequestId">
                <div class="row w-100">
                    <div class="col-6 mb-3">
                        <small>@item.PatientName</small>
                    </div>
                    <div class="col-6 mb-3">
                        <i class="fa-solid fa-circle fa-xs ms-2 text-success"></i>
                    </div>
                    <div class="col-6">
                        @item.Address
                    </div>
                    <div class="col-6">
                        <button class="btn btn-sm btn-white border-info text-info rounded-pill 2px">
                            <small>Map Location</small>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="@item.RequestId" class="accordion-collapse collapse show mb-3 border-bottom" data-bs-parent="#accordionExample">
            <div class="accordion-body container-fluid">
                <p>Date of Birth: @item.DateOfBirth</p>
                <p>Email : @item.Email</p>
                <p>Patient : @item.PatientPhoneNumber</p>
                <p>Transfer Notes : @item.Notes</p>
                <p>Date of service : @item.RequestedDate</p>
                <p>Requestor : @item.Requestor</p>

                <div class="row">
                    <div class="col-6 mb-3">
                        <button class="btn btn-white text-white rounded-pill 2px w-100" style="background-color: #3ecc4e;">
                            <small>View Notes</small>
                        </button>
                    </div>
                    <div class="col-6 mb-3">
                        <button class="btn btn-success text-white rounded-pill 2px w-100">
                            <small>Doctors Note</small>
                        </button>
                    </div>

                    <div class="col-6 mb-3">
                        <button class="btn btn-white text-white rounded-pill 2px w-100" style="background-color: #3ecc4e;">
                            <small>View Uploads</small>
                        </button>
                    </div>
                    <div class="col-6 mb-3">
                        <button class="btn btn-white text-white rounded-pill 2px w-100" style="background-color: #3ecc4e;">
                            <small>Encounter</small>
                        </button>
                    </div>
                    <div class="col-6 mb-3">
                        <button class="btn btn-white text-white rounded-pill 2px w-100" style="background-color: #FFD43B;">
                            <small>Orders</small>
                        </button>
                    </div>
                    <div class="col-6 mb-3 ">
                        <button class="btn btn-white text-white rounded-pill 2px w-100" style="background-color: #3ecc4e;">
                            <small>Email</small>
                        </button>
                    </div>
                </div>
                <div class="text-end d-md-flex justify-content-md-end">
                    <span>Chat With:</span>
                    <button class="btn btn-white border-info text-info me-md-2 mb-2" type="button">
                        <i class="fa-regular fa-user me-1"></i>
                        Patient
                    </button>
                    <button class="btn btn-white border-info text-info mb-2" type="button">
                        <i class="fa-solid fa-user-doctor me-1"></i>
                        Provider
                    </button>
                </div>
            </div>
        </div>
    </div>
}
